@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --prd_pad: 30px;
}
body{
  max-width: 600px;
  margin: 0 auto;
}
#inventory_name{
  height: 70px;
  width: 100%;
  background-color: #161616;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
}
#inventory_name p{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke;
  padding-top: 10px;
}
.linkCont{
  position: absolute;
  right: -100px;
  opacity: 0.2;
  top: 100%;
  background: white;
  height: 30vh;
  width: 40vw;
  box-shadow: inset 0 0 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide 0.4s forwards ease-in-out;
  visibility: hidden;
}
@keyframes slide{
  to{
    right: 0;
    opacity: 1;
  }
}
.linkCont a{
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #AAAAAA;
  text-align: center;
  text-decoration: none;
}
#add_product{
  height: 350px;
  width: 100vw;
  max-width: 600px;
  display: flex;
}
.product_inputs{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.inp_lab{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inp_lab > label{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: -20px;
}
.inp_lab  input{
  height: 40px;
  width: 95%;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 3px black;
  outline: none;
  font-size: 15px;
  padding-left: 30px;
}
.number{
  position: relative;
}
.naira{
  position: absolute;
  top: 9px;
  left: 4px;
  border-right: 3px solid rgba(232, 232, 232, 1);
  padding-right: 5px;
}

#submit_product{
  height: 40px;
  width: 90%;
  background-color: #252630;
  color: ghostwhite;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  position: relative;
  top: 6%;
}
.image_count{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  max-width: 400px;
}
#product_image{
  height: 80%;
  width: 100%;
  box-shadow: 0 0 2px black;
  margin-top: 10px;
  border: 2px dashed #ccc;
  max-width: 400px;
}
#fileInput{
  display: none;
}
#inc_red_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 12%;
  margin-top: 15px;
  box-shadow: 0 0 3px black;
  border-radius: 20px;
}
#increase_btn,#reduce_btn{
  height: 80%;
  width: 25%;
  border-radius: 15px;
  border: none;
  box-shadow:  0 0 1px black;
  background: none;
  font-size: 18px;
}
.search_input{
  margin-top: 35px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}
.search_input > input{
  width: 80%;
  height: 40px;
  box-shadow:  0 0 2px black;
  border-radius: 16px;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 43px;
  font-size: 16px;
}
.search_input p{
  
}
#display{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px auto;
}
.display-item{
  border-radius: 5px;
  box-shadow: inset 0 0 2px bla;
  height: 600px;
  max-width: 500px;
  width: 90vw;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
  box-shadow: inset 0 0 2px black;
  position: relative;
  margin: 0 auto;
}
.display-item h4{
  font-size: 22px;
  padding-bottom: 10px;
}
.display-item .product_sold{
  color: #727472;
  padding-top: 8px;
  padding-bottom: 8px;
}
.display-item .btnDiv{
  width: 80%;
  height: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  box-shadow: inset 0 0 2px black;
}
.display-item .btnDiv button{
  font-size: 20px;
  width: 18%;
  height: 80%;
  background: none;
  border: none;
  box-shadow: inset 0 0 1px black;
  border-radius: 50px;
}
.display-item .itmDiv {
  border-radius: 5px;
  width: 80%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: inset 0 0 2px black;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5px;
}
.display-item .updDiv{
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 7%;
  margin-bottom: 5px;
}
.display-item .updDiv button{
  height: 100%;
  width: 40%;
  border-radius: 2px;
  border: none;
  background-color: #42445A;
  color: white;
  font-size: 15px;
}
.display-item .soldOut{
  width: 100%;
  height: 50%;
  position: absolute;
  top: 10%;
}
#searchBtn{
  scale: 1.3;
  position: absolute;
  right: 15%;
  top: 7px;
}